

:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;


    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: rgb(136, 139, 233);
}

html, body{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Goldman', sans-serif;
    font-weight: 500;
}
.topData{
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 600px;
}



.checkOutForm, .checkInForm{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#checkInName, #checkOutName {
  background-image: url('images/searchIcon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.filePicker{
    height:min-content;
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#inputfile{
  height:min-content;
    background-color: var(--buttonColor); 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#checkOutBtn, #checkInBtn{
    height:min-content;
    background-color: var(--buttonColor); 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #checkOutBtn:hover{color:#000!important;background-color:#ccc!important}
  #checkInBtn:hover{color:#000!important;background-color:#ccc!important}

  /* List styles*/
  #names, #namesInside{
    width: 80%;
    height: 200px;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #names li a , #namesInside li a{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #names li a:hover:not(.header) {
    background-color: #eee;
    cursor: pointer;
  }
  
  #namesInside li a:hover:not(.header) {
    background-color: #eee;
    cursor: pointer;
  }


.filePicker{
  display: flex;
  flex-direction: row;
  width:min-content;
  padding-left: 120px;
}







.counterLabel {
    color: #ffffff;
  
  }




