#eventList{
  padding-left: 300px;
  
}
/* List styles*/
#events{
  width: 80%;
  height: 200px;
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#events li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#events li a:hover:not(.header) {
  background-color: #eee;
  cursor: pointer;
}
